html {scroll-behavior:smooth; }

#globalnav-list > li.globalnav-item.globalnav-item-apple > a > span > img {width:28px}

#media-gallery-item-1 > p {max-width:1000px; width: 800px;}
#media-gallery-item-1 > p > span{color:#2e8fcb; font-weight:700;}
.intro-name {font-size:1.5em; font-weight:700}
.intro-couple {background-image: url(../images/intro_couple.png)}
#variable-width-gallery-item-1 > div {width:100%}
html.inline-media-component.no-reduced-motion .section-welcome .welcome__video-media {--p-height:600px}

#ac-globalfooter div .footer-profile {display:block; margin-bottom:10px;}
#ac-globalfooter div .footer-profile a {display:inline-block; width:40px; margin-right: 7px;}
#ac-globalfooter div .footer-profile a img {width:100%}
.subsection .section-header {padding-top: var(--global-spacing-section-padding);}

.section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .gallery-figure .positioned-media-element.endframe, .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .gallery-figure .positioned-media-element.media, .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .gallery-figure .positioned-media-element.startframe, .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .gallery-figure .positioned-media-element.endframe, .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .gallery-figure .positioned-media-element.media, .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .gallery-figure .positioned-media-element.endframe{
    background-color: unset;
    background-image: unset;
}

.stat {margin-top: 20px;}
.navi-info {margin-top: 20px;}
.navi-info img {width: 24px; position: relative; top: 6px; margin-right:10px}
.navi-info a {font-size: 18px; text-decoration: none; color: #808080; font-weight: 600; }
#overview-welcome-hero-endframe-1 {height: 100% !important; display:contents}
.inline-media-component-container .video-wrapper .end-frame img {width: unset; height:100%}

.section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-camera .caption {
    color: #000;
}
#ac-globalfooter *, #ac-globalfooter *:before, #ac-globalfooter *:after {float:unset}
.card.card-padding {min-width: 310px; }


/* 연락처 및 계좌번호 */
.icon-card-info {padding-top: 60px;}
.icon-card-info h2 {font-size: 2em; font-weight: 700;}
.icon-card-info .desc {margin: 0 0 20px; display: block; font-size: 1em; color: #6c6c6c;}
.icon-card-info p {margin-top: 5px}
.icon-card-info .people-card-container {display:block; width:100%;}
.icon-card-info .people-card-item {display:flex;width:100%}
.icon-card-info .people-card-item .people-card-img {width:120px; height:120px;}
.icon-card-info .people-card-item .people-card-img img {display:block; border-radius:10px; width:80px;}
.icon-card-info .people-card-item .people-card-box .people-info {width:100%; margin-bottom:20px;}
.icon-card-info .people-card-item .people-card-box .people-info .people-name {display: block; width:100%;font-size: 1.1em; font-weight: 700;}
.icon-card-info .people-card-item .people-card-box .people-info .people-tel a {text-decoration: none; background-color: #eeeeee; font-weight:700; display:inline-block; padding: 1px 6px; margin-right: 2px; border-radius: 4px; font-size: 0.9em; margin-bottom: 4px;}
.icon-card-info .people-card-item .people-card-box .people-info .people-tel a svg {position: relative; top: 2px; margin-right: 3px;}
.icon-card-info .people-card-item .people-card-box .people-info .people-tel a:nth-child(1) {color: #3fa61d;}
.icon-card-info .people-card-item .people-card-box .people-info .people-tel a:nth-child(2) {color: var(--sk-body-link-color);}
.icon-card-info .people-card-item .people-card-box .people-info .people-tel a .instagram {background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

.icon-card-info.info-account .name {display: inline-block; width: 60px; font-size: 1.1em; font-weight: 600;}
.icon-card-info.info-account a {display: inline-block; width: 215px; color: #000; font-size: 1em;}
.icon-card-info.info-account a .bank {color: #fff; text-decoration: none; background: #000; font-weight: 700; padding: 2px 6px; margin: 0 15px 0 4px; border-radius: 4px; font-size: 0.9em;}
.icon-card-info.info-account a .novisual {display:none}
.icon-card-info.info-account .copied {opacity: 0; transition: opacity 0.5s ease-in-out;color:#a0a0a0;}
.icon-card-info.info-account .copied.active {opacity: 1; }


/* 모바일 기준 (최대 너비 734px) */
@media only screen and (max-width: 734px) {
    section.subsection {margin-top: 80px;}
    #globalnav{display: none;}
    #globalnav-placeholder{display: none;}
    html.inline-media-component.no-reduced-motion .section-welcome .welcome__video-avail {
        padding-top: 0;
    }
    html.inline-media-component.no-reduced-motion .section-welcome .welcome__video-avail {padding-top:0}
    html.inline-media-component.no-reduced-motion .section-welcome .welcome__video-media {--p-height:600px}
    #main > section.section.section-welcome > div > div.welcome__video.welcome__video-avail > img {height:600px}
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-camera .caption {
        color: #ffffff;
    }

    .icon-card-info h2 {margin-left:0}

    #overview-portrait-zoom1-1 > img {height: 100%;position: relative;left: -40px;}
    #overview-portrait-zoom2-1 > img {height: 100%;}
    #overview-portrait-zoom3-1 > img {width: 100%;}
    #overview-portrait-zoom4-1 > img {height: 100%;}
    #overview-portrait-zoom5-1 > img {width: 100%;}
    #overview-portrait-zoom6-1 > img {width: 100%;}
    #overview-portrait-zoom7-1 > img {height: 100%;}
    #overview-portrait-zoom8-1 > img {width: 100%;}
}
/* 태블릿 기준 (최대 너비 1068px) */
@media only screen and (max-width: 1068px)  {
    html.inline-media-component.no-reduced-motion .section-welcome .welcome__video-avail {padding-top:0}
    html.inline-media-component.no-reduced-motion .section-welcome .welcome__video-media {--p-height:90vh}
    /* #main > section.section.section-welcome > div > div.welcome__video.welcome__video-avail > img {height:90vh} */
    .welcome__lockup {
        position: relative;
        top: -200px;
        z-index: 999;
    }
    .card.card-padding {min-width: 270px; }
}

.section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.hardware {
    background-image: url(../images/intro_couple_1260.png)
}

.section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-camera .positioned-media-element.camera {
    background-size: 1260px 680px;
    background-image: url(../images/intro_groom_1260.jpg)
}

.section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-3 .positioned-media-element.camera {
    background-size: 1260px 680px;
    background-image: url(../images/intro_bride_1260.jpg)
}

.section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-4 .positioned-media-element.camera {
    background-size: 1260px 680px;
    background-image: url(../images/intro_together_1260.jpg)
}

@media (min-resolution: 144dpi),only screen and (min-resolution:1.5dppx) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.hardware {
        background-image: url(../images/intro_couple_1260.png)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-camera .positioned-media-element.camera {
        background-image:url(../images/intro_groom_1260.jpg)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-3 .positioned-media-element.camera {
        background-image: url(../images/intro_bride_1260.jpg)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-4 .positioned-media-element.camera {
        background-image: url(../images/intro_together_1260.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.hardware {
        background-image: url(../images/intro_couple_932.png)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-camera .positioned-media-element.camera {
        background-size:932px 628px;
        background-image: url(../images/intro_groom_932.jpg)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-3 .positioned-media-element.camera {
        background-size:932px 628px;
        background-image: url(../images/intro_bride_932.jpg)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-4 .positioned-media-element.camera {
        background-size:932px 628px;
        background-image: url(../images/intro_together_932.jpg)
    }
}
@media only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.hardware {
        background-image: url(../images/intro_couple_932.png)
    }
}
@media only screen and (max-width: 1068px)and (min-resolution:1.5dppx),only screen and (max-width:1068px)and (min-resolution:144dpi) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.hardware {
        background-image: url(../images/intro_couple_932.png)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-camera .positioned-media-element.camera {
        background-image:url(../images/intro_groom_932.jpg)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-3 .positioned-media-element.camera {
        background-image: url(../images/intro_bride_932.jpg)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-4 .positioned-media-element.camera {
        background-image: url(../images/intro_together_932.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.hardware {
        background-image: url(../images/intro_couple_734.png)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-camera .positioned-media-element.camera {
        background-size:734px 560px;
        background-image: url(../images/intro_groom_734.jpg)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-3 .positioned-media-element.camera {
        background-size:734px 560px;
        background-image: url(../images/intro_bride_734.jpg)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-4 .positioned-media-element.camera {
        background-size:734px 560px;
        background-image: url(../images/intro_together_734.jpg)
    }
}

@media only screen and (max-width: 734px)and (min-resolution:1.5dppx),only screen and (max-width:734px)and (min-resolution:144dpi) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.hardware {
        /* background-size: 500px 500px;
            top: 80px;
            left: -50px; */
        background-image: url(../images/intro_couple_734.png)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-camera .positioned-media-element.camera {
        background-image: url(../images/intro_groom_734.jpg)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-3 .positioned-media-element.camera {
        background-image: url(../images/intro_bride_734.jpg)
    }
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-4 .positioned-media-element.camera {
        background-image: url(../images/intro_together_734.jpg)
    }
}

/* .all-access-pass__container{display: none} */
/* /* .all-access-pass {bottom:unset; } */
/* #ac-globalfooter {--footer-background: #fff} */
#gallery > div.all-access-pass__container {position: relative}
.ac-gf-sosumi p {text-align:right !important}