<!DOCTYPE html>
<html lang="ko">
<head>
	<title>장누가 ❤️ 백송이 결혼합니다!</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="keywords" content="wedding, baby, feelmotion, 더굿데이, 더굿데이카드, 성장영상, 식전영상, 청첩장, 돌잔치, 결혼, 결혼식, 초대장">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://thegoodday.kr/76066">
	<meta property="og:description" content="누가와 송이의 결혼식에 초대합니다^^">
	<meta property="og:title" content="장누가 ❤️ 백송이 결혼합니다!">
	<meta property="og:image" content="https://thegoodday.kr/static/upload/invitation/76066/crop/b8d0ec8167da32eab8aa4e7aa60ea30e.jpg">

	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic%7CNanum+Myeongjo" rel="stylesheet">
	<link rel="stylesheet" href="../../static/theme/common/css/reset.css">
	<link rel="stylesheet" href="../../static/theme/common/css/animate.css">
	<link rel="stylesheet" href="../../static/theme/common/css/common%EF%B9%96version=1721259435.css">
	<link rel="stylesheet" href="../../static/theme/theme206/css/theme%EF%B9%96version=1721259435.css">
	<!-- <link rel="stylesheet" href="/static/js/lightGallery/dist/css/lightgallery.css"> -->
	<link rel="stylesheet" href="../../static/js/jssor.slider/jssor1.css">
	<link rel="stylesheet" href="../../static/js/emojionearea/emojionearea.css">

	<!-- lightGallery -->
	<link rel="stylesheet" href="../../static/js/lightGallery2/dist/css/lightgallery.css">
	<link rel="stylesheet" href="../../static/js/lightGallery2/dist/css/lg-autoplay.css">
	<link rel="stylesheet" href="../../static/js/lightGallery2/dist/css/lg-thumbnail.css">
	<link rel="stylesheet" href="../../static/js/lightGallery2/dist/css/lg-zoom.css">

	<style>.bgn { background-color: #FFFFFF; }
	.bg1 { background-image: url(../../static/theme/theme206/img/008.png); background-repeat: repeat-y; background-size: 100%; }
	.bg2 { background-color: #F3EAEA; }
	</style>
</head>
<body>
	<div class="intro bg1">
		<div class="tac " style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: url(../../static/theme/theme206/img/000-1.png); background-repeat: no-repeat; background-size: 100% auto; background-position: top 5px center;">
			<div class=" animation animationUp animationDelay1" style="margin-top: 120px;">
				<img src="../../static/theme/theme206/img/004.png" class="w40p">
			</div>
			<div class=" animation animationUp animationDelay2" style="margin-top: 30px;">
				<span class="d-ib pv10 ph40 fs18 fed" style="color: #9c9c9c; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9;">
					08					<span class="fs06">/</span>
					24				</span>
			</div>
			<div class=" animation animationUp animationDelay2" style="margin-top: 30px;">
				<div class="tac fs2 fc24opn">
		        	장누가		        	<br><img src="../../static/theme/theme206/img/000a.png" class="w10p pt10">             
		        	<br>백송이		        </div>
			</div>
			<div class=" animation animationUp animationDelay3" style="margin-top: 100px;">
		        <!-- 예식일자 -->
		        <div class="pt60 tac fs10 fed" style="color: #898989;">
		        	2024. 08. 24. 토요일. 낮 12:00		        </div>

		        <!-- 예식장 -->
		        <div class="pt5 tac fed lh13" style="color: #898989;">
		        	까사디루체 웨딩컨벤션 3층 안젤로홀		        </div>
			</div>
		</div>
	</div>
	<div class="wrapper bg1">

					<!-- 상단 링크 -->
			<div class="quickmenu">
				<ul class="quickmenu_list">
					<li><a href="#" data-target="top" class="quicklink">처음으로</a></li>
					<li><a href="#" data-target="gallery" class="quicklink">갤러리보기</a></li>
					<li><a href="#" data-target="guest" class="quicklink">축하메시지</a></li>
					<li><a href="#" data-target="traffic" class="quicklink">찾아오시는길</a></li>
				</ul>
			</div>
		
		<div class="bgm_area fc24" style="display:none;">
						장누가 ❤️ 백송이 결혼합니다!									<!-- 배경음악 -->
			<div class="bgm_action">
				<a href="#" id="btn_bgm_control"><img src="https://thegoodday.kr/static/theme/theme206/img/sound_on.gif" style="width:30px;"></a>
				<audio id="bgm" loop autoplay="autoplay"><source src="../../static/resource/bgm/Love_You_(JTBC_%E1%84%92%E1%85%AD%E1%84%85%E1%85%B5%E1%84%82%E1%85%A6%E1%84%86%E1%85%B5%E1%86%AB%E1%84%87%E1%85%A1%E1%86%A82_OST)-1%E1%84%8C%E1%85%A5%E1%86%AF48kb3.mp3" type="audio/mp3"></audio>
			</div>
					</div>

					<!-- 메인 이미지 -->
			<div id="top" class="pos-r ts0 animation animationUp animationDelay5">
	            <img src="../../static/upload/invitation/76066/thumb/757ee2a3b7fbe8e7f8cd642784f8629a.jpg" class="imw100p">
	            <div class="pos-a tac " style="bottom: -80px; left: 0; width: 100%">
	            	<img src="../../static/theme/theme206/img/005a.png" class="w50p">
	            </div>
			</div>
        
        <!-- 신랑, 신부 -->
        <div class="pt100 tac fs2 fc24opn ">
        	<span>장누가</span>
        	<span><img src="../../static/theme/theme206/img/005-1.png" class="h15"></span>
        	<span>백송이</span>
        	<span class="d-b pt10" style="color: #C78888;">결혼합니다.</span>
        </div>

        <!-- 예식일자 -->
        <div class="pt60 tac fs10 fed  tls1" style="color: #898989;">
        	2024. 08. 24. 토요일. 낮 12:00        </div>

        <!-- 예식장 -->
        <div class="pb30 pt5 tac fed  tls1 fs10 lh13 " style="color: #898989;">
        	까사디루체 웨딩컨벤션 3층 안젤로홀        </div>

        
        		    <!-- 사진 -->
        	<div class="bg2" id="gallery">
		        <div class="pv60 tac animation animationUp">
					<img src="../../static/theme/theme206/img/006.png" class="h50">
		        </div>
		        <div class="">
											<!-- 더보기방식 -->
						<div class="pv10 ph30 fs0">
													<div class="d-ib w33p pd3 animation animationUp">
			                	<img src="../../static/upload/invitation/76066/crop/4270d69023a7b2c6c277823023d9d210.jpg" class="w100p">
							</div>
													<div class="d-ib w33p pd3 animation animationUp">
			                	<img src="../../static/upload/invitation/76066/crop/937d41c10f58b8fdfb9ea5183752da27.jpg" class="w100p">
							</div>
													<div class="d-ib w33p pd3 animation animationUp">
			                	<img src="../../static/upload/invitation/76066/crop/5a76a5a458a8bc2d7498eec60ffaca2d.jpg" class="w100p">
							</div>
													<div class="d-ib w33p pd3 animation animationUp">
			                	<img src="../../static/upload/invitation/76066/crop/7b88ba23de89c46527733d19f402b668.jpg" class="w100p">
							</div>
													<div class="d-ib w33p pd3 animation animationUp">
			                	<img src="../../static/upload/invitation/76066/crop/2a8d15956e1d42fda2b48276da7baab3.jpg" class="w100p">
							</div>
													<div class="d-ib w33p pd3 animation animationUp">
			                	<img src="../../static/upload/invitation/76066/crop/d40913665e7bd967609d786b9ed4a835.jpg" class="w100p">
							</div>
													<div class="d-ib w33p pd3 animation animationUp">
			                	<img src="../../static/upload/invitation/76066/crop/c551178d3ed546bd702e0e2508f836d4.jpg" class="w100p">
							</div>
													<div class="d-ib w33p pd3 animation animationUp">
			                	<img src="../../static/upload/invitation/76066/crop/2d0c5efaac0677c4c469678055a6eef7.jpg" class="w100p">
							</div>
													<div class="d-ib w33p pd3 animation animationUp">
			                	<img src="../../static/upload/invitation/76066/crop/7fbc407092adea2e4b65db058a79625d.jpg" class="w100p">
							</div>
												</div>
					
					<div class="pv40">	
													<!-- 더보기방식 -->
							<div class="tac">
								<a href="#more_gallery" id="dynamic_gallery" class="more_gallery animation animationUp"><img src="../../static/theme/theme206/img/007.png" class="h90"></a>	
							</div>
											</div>
				</div>
			</div>
		
		<!-- 초대글 타이틀 -->
		<div class="pos-r pt80 pb40 ph20">
			<div class="pos-a tac" style="top: 10px;">
				<img src="../../static/theme/theme206/img/009.png" class="w60p">
			</div>

			<div style="color: #474747; padding-top: 120px; background-color: rgba(235, 237, 224, 0.37);">

				<!-- 초대글 -->
				<div class="pv20 tac lh15 fs12 fc24opn tls-1  animation animationUp animationDelay0">
										<p><span style="font-size: 16px;">"마음을 같이하여 같은 사랑을 가지고</span></p><p><span style="font-size: 16px;">뜻을 합하며 한 마음을 품어"</span></p><p><span style="font-size: 16px;">- 빌립보서 2장 2절 -</span></p><p><br></p><p><span style="font-size: 16px;">싱그러운 초록 빛이 가득한 여름날,</span></p><p><span style="font-size: 16px;">모두에게 사랑과 기쁨을 전합니다.</span></p><p><br></p><p><span style="font-size: 16px;"><b><span style="font-size: 18px;">송</span></b>이와 누가가 사랑으로 하나되어</span></p><p><span style="font-size: 16px;"><b><span style="font-size: 18px;">이</span></b>제 아름다운 믿음의 가정을 이루고자 합니다.</span></p><p><span style="font-size: 16px;"><b><span style="font-size: 18px;">누</span></b>구도 예상하지 못했던, 하나님이 계획하신 날</span></p><p><span style="font-size: 16px;"><b><span style="font-size: 18px;">가</span></b>장 행복한 순간을 함께 축복해주세요.</span></p>				
									</div>
				

				<div class="pv50 tac fs18 fc24opn">
		        	<span>장누가</span>
		        	<span><img src="../../static/theme/theme206/img/005-1.png" class="h10"></span>
		        	<span>백송이</span>
		        </div>

									<!-- 혼주 -->
					<div class="pt10 pb30 tac">
						<img src="../../static/theme/theme206/img/010.png" class="h40">
					</div>

											<div class="pv5 tac fs12 fnm tls0" style="color: #434242;"> 장 실  · 성명희 <span class="small">의 아들</span> 누가</div>
					
											<div class="pv5 tac fs12 fnm tls0" style="color: #434242;">백병기 · 남미숙 <span class="small">의   딸 </span> 송이</div>
									
				<div class="pt60 tac tls1 animation animationUp" style="color: #78706F;">
					-2024-
				</div>

				<div class="pt10 tac fs3 fc24 tls1 animation animationUp" style="color: #9AB29D; font-weight:bold;">
					08.24				</div>

				<div class="pt10 tac fs13 fc24 tls1 animation animationUp" style="color: #9AB29D;">
					토요일 낮 12:00				</div>

				<div class="pt40 tac">
					<img src="../../static/theme/theme206/img/011.png" class="h30">
				</div>

		        <!-- 예식장 -->
		        <div class="pt40 tac fs15 fc24opn tls0 ">
		        	까사디루체 웨딩컨벤션		        </div>
		        <div class="pt10 pb40 tac fs13 fc24opn tls0">
		        	3층 안젤로홀		        </div>
                
                
                                

			</div>

		</div>

		<div class="">

                	<!-- 서브 이미지 -->
	        <div class="pos-r ts0 animation animationUp">	
	            <img src="../../static/upload/invitation/76066/thumb/e16e78d904da4a0da1438d96b1ce8403.jpg" class="imw100p">
	            <div class="pos-a tac fsd" style="width: 100%; left: 0; bottom: -50px; z-index: 100;">
	            	<div class="d-ib fs13 fc24opn tls0" style="color: #fff; padding-top: 60px; width: 100px; height: 100px; background-image: url(../../static/theme/theme206/img/012a.png); background-repeat: no-repeat; background-size: 100%;">
						08<span class="fs05">월 </span>24<span class="fs05">일</span>
					</div>
	            </div>
			</div>
					
			<!-- 달력 -->
			<div class="pt80 fc24sp main_dday_area ">
				<div class="main_dday_calendar">
					
	    <table>
	    <tr><th>일</th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th><th>토</th></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>1</td><td>2</td><td>3</td></tr><tr><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td></tr><tr><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td></tr><tr><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td><span class="dday">24</span></td></tr><tr><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td></tr></table>				</div>
			</div>
			
			<!-- D-DAY -->
			<div class="w100p pv30 tac fc24sp tls1" style="color: #696868;">
				D-day : 37			</div>
		</div>

		
		
			<div class="pv60 ph20 animation animationUp">
				<div class="pv40 ph20" style="color: #474747; padding-top: 120px; background-color: rgba(235, 237, 224, 0.37);">

									
							
									
											<!-- 마음전하실 곳 -->
						<div class="pt50">
							<div class="pb20 tac fs15 fc24opn" style="border-bottom: 1px solid #C4C4C4; color: #9AB29D;">
								<img src="../../static/theme/theme206/img/017.png" class="h40">
																	<span class="d-b pt10">마음 전하실 곳 <span class="fs07">(계좌번호)</span></span>
															</div>

							
							<div class="pt30 fgb fs1 ls-1">

																											<div class="pb10 twb">&lt;신랑측&gt;</div>

																				<div class="bank_groom_account fgb fs1 ls-1 mb10">장실(부) : 352-0707-0513-73 농협</div>
																				<div class="bank_groom_account fgb fs1 ls-1 mb10 mb30">장누가 : 916402-01-159493 국민은행</div>
																											
																											<div class="pb10 twb">&lt;신부측&gt;</div>
																				<div class="bank_bride_account fgb fs1 ls-1 mb10">백병기(부) : 521149-52-050787 농협</div>
																				<div class="bank_bride_account fgb fs1 ls-1 mb10">남미숙(모) : 352-0492-0130-83 농협</div>
																				<div class="bank_bride_account fgb fs1 ls-1 mb10 mb30">백송이 : 006-121-852483 광주은행</div>
																												
								
							</div>
						</div>

					
					
				</div>
			</div>

		

		<!-- 신랑, 신부 연락처 -->
		<div class="pt30 pb30 tac  animation animationUp">
			<img src="../../static/theme/theme206/img/019.png" class="w50p">			
		</div>

					<!-- 신랑 이미지 -->
			<div class="pv30 tac">
	            <img src="../../static/upload/invitation/76066/crop/e65b067f963b72f7a3d98bbd0f1095d1.jpg" class="imw250 imcc animation animationUp">
			</div>
		
        <!-- 신랑 정보 -->
        <div class="pb30 tac lhp40 fs15 fc24 van-m">
			<span class="ts07 mr5">* 신랑</span>
			<span class="">장누가</span>
			<span class="mr15"></span>
			<span class="mr5"><a href="tel:010.4574.6048"><img src="../../static/theme/theme206/img/020.png" class="van-m imh35"></a></span>
			<span class="mr5"><a href="sms:010.4574.6048"><img src="../../static/theme/theme206/img/021.png" class="van-m imh35"></a></span>
			
		</div>

					<!-- 신랑 혼주 -->
						<div class="pb10 ph20">
				<div class="pb5 tac fs13 fc24opn">
				<img src="../../static/theme/theme206/img/023.png" class="van-m imh35">	
				</div>
			</div>
			
			<div class="ph50 tac">
				<div class="pv10 ph30 ts0 fc24opn" style="color: #4C5441; padding-top: 120px; background-color: rgba(235, 237, 224, 0.37);">
									        <div class="d-ib w50p tac lhp40 fs15 van-m">
				        	<div class="fsd ">
				        		<div>
									<span class="">
										
									 장 실 																		</span>
									<span class="ts07 mr5">아버님</span>
								</div>
																	<div>				
										<span class="mr5"><a href="tel:010-3604-8913"><img src="../../static/theme/theme206/img/024.png" class="van-m h30"></a></span>
										<span class="mr5"><a href="sms:010-3604-8913"><img src="../../static/theme/theme206/img/025.png" class="van-m w30"></a></span>
									</div>
									<div>
										
									</div>
															</div>
						</div>
					
									        <div class="d-ib w50p tac lhp40 fs15 van-m">
				        	<div class="fsd">
				        		<div>
									<span class="">
										
									성명희																		</span>
									<span class="ts07 mr5">어머님</span>
								</div>
																	<div>				
										<span class="mr5"><a href="tel:010-4603-8913"><img src="../../static/theme/theme206/img/024.png" class="van-m h30"></a></span>
										<span class="mr5"><a href="sms:010-4603-8913"><img src="../../static/theme/theme206/img/025.png" class="van-m w30"></a></span>
									</div>
									<div>
										
									</div>
															</div>
						</div>
									</div>
			</div>

		
					<!-- 신부 이미지 -->
			<div class="pt60 pb30 tac">
	            <img src="../../static/upload/invitation/76066/crop/a52fc5bf10535cd83052ff20412c69ac.jpg" class="imw250 imcc animation animationUp">
			</div>
		
        <div class="pb30 tac lhp40 fs15 fc24 van-m">
			<span class="ts07 mr5">* 신부</span>
			<span class="">백송이</span>
			<span class="mr15"></span>
			<span class="mr5"><a href="tel:010.4478.5462"><img src="../../static/theme/theme206/img/020.png" class="van-m imh35"></a></span>
			<span class="mr5"><a href="sms:010.4478.5462"><img src="../../static/theme/theme206/img/021.png" class="van-m imh35"></a></span>
			
		</div>

					<!-- 신부 혼주 -->
						<div class="pb10 ph20">
				<div class="pb5 tac fs13 fc24opn">
					<img src="../../static/theme/theme206/img/028.png" class="van-m imh35">
				</div>
			</div>
						
			<div class="ph50 pb50 tac">
				<div class="pv10 ph30 ts0 fc24opn" style="color: #4C5441; padding-top: 120px; background-color: rgba(250, 239, 235, 0.60);">
									        <div class="d-ib w50p tac lhp40 fs16 van-m">
				        	<div class="fsd">
				        		<div>
									<span class="">
																				백병기																			</span>
									<span class="ts07 mr5">아버님</span>
								</div>
																	<div>				
										<span class="mr5"><a href="tel:010-3650-5462"><img src="../../static/theme/theme206/img/024.png" class="van-m h30"></a></span>
										<span class="mr5"><a href="sms:010-3650-5462"><img src="../../static/theme/theme206/img/025.png" class="van-m w30"></a></span>
									</div>
									<div>
										
									</div>
															</div>
						</div>
					
									        <div class="d-ib w50p tac lhp40 fs16 van-m">
				        	<div class="fsd">
				        		<div>
									<span class="">
																				남미숙																			</span>
									<span class="ts07 mr5">어머님</span>
								</div>
																	<div>				
										<span class="mr5"><a href="tel:010-5567-5462"><img src="../../static/theme/theme206/img/024.png" class="van-m h30"></a></span>
										<span class="mr5"><a href="sms:010-5567-5462"><img src="../../static/theme/theme206/img/025.png" class="van-m w30"></a></span>
									</div>
									<div>
										
									</div>
															</div>
						</div>
									</div>
			</div>

		
					<!-- 오시는 길 -->
			<div class="bgn pt50 fc24sp" id="traffic">

				<div class="pb50 tac">
					<img src="../../static/theme/theme206/img/030a.png" class="w20p">
				</div>

				<!-- 지도 -->
								<div class="traffic_map animation animationUp" id="traffic_map"></div>
				
				<!-- 웨딩홀 -->
				<div class="">
					<div class="tac pv40">
						<div class="fs18">까사디루체 웨딩컨벤션<br><span class="fs08">3층 안젤로홀</span></div>
						<div class="pt30 tls-1">광주 북구 동문대로 287 (문흥1동 101) </div>
												<div class="pt10 tls-1">TEL. 062-710-4000</div>
						<div class="pt30 tac">
							<a href="tel:062-710-4000"><img src="../../static/theme/theme206/img/031.png" class="h30"></a>
						</div>
											</div>
				</div>

				<!-- 네비게이션 -->
				<div class="pv10 ph20">
					<div class="tal pv10 ph10 van-m" style="border-top: 1px solid #AAA7A4; border-bottom: 1px solid #AAA7A4;">
						<span class="bold ls0">NAVIGATION_</span>
						<span class="pl5">카카오내비</span>
						<span class="pl5"><a href="#" onclick="navi_kakao(event);"><img src="../../static/theme/theme206/img/032.png" class="van-m h30"></a></span>
						<span class="pl5">티맵</span>
						<span class="pl5"><a href="#" onclick="navi_tmap(event);"><img src="../../static/theme/theme206/img/033.png" class="van-m h30"></a></span>
					</div>
				</div>

				<!-- 예식장 교통 -->
				<div class="pv30 ph20">
					<div class="pb40" style="border-bottom: 1px solid #AAA7A4;">
						
												<div class="pb10 traffic_etc_title">
							<img src="../../static/theme/theme206/img/037a.png" class="h30"> 버스 이용시
						</div>
						<div class="pb30 fgb fs1 lh13">
							[시내버스]<br />
⊙문흥지구입구(남) - 도보 5분 / 매월06, 금호36, 송암47<br />
⊙농산물공판장 - 도보 8분 / 첨단23, 518<br />
<br />
[고속버스 이용시] <br />
⊙ 광주 유스퀘어(광천터미널) → 예식장<br />
- 송암47 / 금호36 - 농산물공판장 하차 : 도보 10분<br />
- 봉산 / 담양311- 농산물공판장 하차<br />
- 문흥39 / 문흥53 - 문흥지구입구 하차 : 도보 11분<br />
- 택시 이용시 : 약 15-20분 소요<br />
<br />
[KTX 이용시]  <br />
⊙ 광주송정역 → 예식장<br />
- 160번(46개 정류장, 약 70분 소요) - 문흥지구입구 하차<br />
- 택시 이용시 : 약 30분 소요						</div>
						
												<div class="pb10 traffic_etc_title">
							<img src="../../static/theme/theme206/img/038a.png" class="h30"> 자가용 이용시
						</div>
						<div class="pb30 fgb fs1 lh13">
							[서울에서 오실때]<br />
⊙호남고속도로에서 문흥JC로 나와서 좌회전<br />
<br />
[고속도로 이용시]<br />
⊙동광주 IC (각화동 농수산시장 지나서 서희스타힐스아파트 건너편 위치)<br />
<br />
※웨딩홀 주변 인근거리, 제2주차장 이용 시 무료 셔틀버스 운행<br />
  (제2주차장 주소 : 광주광역시 북구 군왕로 343)						</div>
						
																		<div class="pb30 fgb fs1 lh13">
							<p style="line-height: 1.8;"><b><span style="font-size: 20px;">※ 주차안내 </span><span style="font-size: 20px;">※</span><br></b></p><p style="line-height: 1.8;"><span style="font-size: 20px;"><b>당일 교통이 혼잡하오니 되도록 제2주차장을 이용해주시기 바랍니다.</b></span></p><p style="line-height: 1.8;"><span style="font-size: 20px;"><b>제2주차장 주소 : 광주광역시 북구 군왕로 343</b></span></p>						</div>
											</div>
				</div>
			</div>
		        

					<!-- 방명록 -->
			<div class="" id="guest" style="background-image: url(../../static/theme/theme206/img/040.png); background-repeat: no-repeat; background-position: 0 -20px; background-size: 50%;">
				<div class="guest_area">
					<div class="animation animationUp"><img src="../../static/theme/theme206/img/041b.png" class="w80p"></div>
				</div>
				<div class="guest_layer">
					<div class="guest_layer_wrapper">
						<div class="guest_form_wrapper animation animationUp">
							<form method="post" action="../new_guest_proc.html" id="frm_guest" target="ifmSubmit">
								<input type="hidden" name="ig_mode" id="ig_mode" value="regist">
								<input type="hidden" name="ig_seq" id="ig_seq">
								<input type="hidden" name="f_in_seq" value="76066">
								<div class="pd10" style="background-color:#F6EDED;">
								<div class="guest_form_item">
									<input type="text" name="ig_name" id="ig_name" placeholder="이름" class="w49 mr2">
									<input type="text" name="ig_password" id="ig_password" placeholder="비밀번호" class="w49">
								</div>
								<div class="guest_form_item">
									<textarea name="ig_message" id="ig_message" placeholder="메시지 (40자 이내로 등록)"></textarea>
								</div>
								</div>
								<div class="guest_form_button">
									<button type="button" onclick="guest_regist();" class="fc24sp" id="btn_guest_regist">축하 메시지 등록</button>
								</div>
							</form>
						</div>
						<div class="guest_list_wrapper animation animationUp">
							<ul class="guest_list">
				            								<li class="no_item">첫 메시지를 등록해 주세요^^</li>
										            	</ul>
										        	</div>
			        </div>
				</div>
			</div>
		
		<div class="h60 pv80 tac fs15" style="background-image: url(../../static/theme/theme206/img/043.png); background-repeat: no-repeat; background-position: right bottom; background-size: 40%;">
			<img src="../../static/theme/theme206/img/042a.png" class="w60p mb20">
		</div>

		<!-- 공유 -->
		<div class="pt00">
			<div class="bgn fs0">
				<div class="d-ib pt30 pb30 w25p tac  animation animationIn" style="border-right: 1px solid #E9E4DF;">
					<a href="#" onclick="sns_facebook(event);"><img src="../../static/theme/theme206/img/044.png" class="h30 van-m  animation animationUp"></a>
				</div>
				<div class="d-ib pt20 pb20 w50p tac  animation animationIn">
					<a href="#" onclick="sns_kakaotalk(event);"><img src="../../static/theme/theme206/img/045.png" class="h45 van-m  animation animationUp"></a>
				</div>
				<div class="d-ib pt30 pb30 w25p tac  animation animationIn" style="border-left: 1px solid #E9E4DF;">
					<a href="#" onclick="sns_twitter(event);"><img src="../../static/theme/theme206/img/046.png" class="h30 van-m animation animationUp"></a>
				</div>
			</div>
			<div class="fs0">
				<div class="d-ib pt15 pb10 w25p tac  animation animationIn">
					<a href="#" onclick="sns_kakaostory(event);"><img src="../../static/theme/theme206/img/047.png" class="h60 van-m  animation animationUp"></a>
				</div>
				<div class="d-ib pt15 pb10 w25p tac  animation animationIn">
					<a href="#" onclick="sns_band(event);"><img src="../../static/theme/theme206/img/048.png" class="h60 van-m  animation animationUp"></a>
				</div>
				<div class="d-ib pt15 pb10 w25p tac  animation animationIn">
					<a href="sms:?body=%EB%88%84%EA%B0%80%EC%99%80%20%EC%86%A1%EC%9D%B4%EC%9D%98%20%EA%B2%B0%ED%98%BC%EC%8B%9D%EC%97%90%20%EC%B4%88%EB%8C%80%ED%95%A9%EB%8B%88%EB%8B%A4%5E%5E%0Ahttps%3A%2F%2Fthegoodday.kr%2F76066"><img src="../../static/theme/theme206/img/049.png" class="h60 van-m animation animationUp"></a>
				</div>
				<div class="d-ib pt15 pb10 w25p tac  animation animationIn">
					<a href="#" class="sns_link" data-clipboard-text="https://thegoodday.kr/76066"><img src="../../static/theme/theme206/img/050.png" class="h60 van-m animation animationUp"></a>
				</div>
			</div>
		</div>

		<!-- 파트너 -->
		<div class="partner_area">
						<div class="partner_image">
								<a href="" target="_blank"><img src="../partner_image/10155.jpeg"></a>
							</div>
					</div>
	</div>
		<!-- 배경음악 퀵 -->
	<div class="bgm_quick">
		<a href="#" id="btn_quick_bgm"><img src="../../static/img/quick_bgm_on.gif"></a>
	</div>
		<!-- <script src="/static/theme/app/vendor/jquery/dist/jquery.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ityvuk2o87"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script src="https://player.vimeo.com/api/player.js"></script>
	<!-- lightGallery -->
	<!-- <script src="/static/js/lightGallery/dist/js/lightgallery.min.js"></script>
	    <script src="/static/js/lightGallery/lib/jquery.mousewheel.min.js"></script>
	    <script src="/static/js/lightGallery/modules/lg-thumbnail.min.js"></script>
	    <script src="/static/js/lightGallery/modules/lg-fullscreen.min.js"></script>
	    <script src="/static/js/lightGallery/modules/lg-zoom.min.js"></script>
	    <script src="/static/js/lightGallery/modules/lg-autoplay.min.js"></script> -->
	<!-- lightGallery2 -->
	<script src="../../static/js/lightGallery2/dist/lightgallery.min.js"></script>
	<script src="../../static/js/lightGallery2/dist/plugins/autoplay/lg-autoplay.min.js"></script>
	<script src="../../static/js/lightGallery2/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>
	<script src="../../static/js/lightGallery2/dist/plugins/zoom/lg-zoom.min.js"></script>
    <!-- Jssor Slider -->
	<script src="../../static/js/jssor.slider/jssor.slider.min.js"></script>
	<script src="../../static/js/jssor.slider/jssor1.js"></script>
	<script src="../../static/js/waypoint.min.js"></script>
	<script src="../../static/js/snowfall.jquery.min.js"></script>
	<script src="../../static/js/clipboard.min.js"></script>
	<!-- <script src="/static/js/emojionearea/emojionearea.js"></script> -->
	<script src="../../static/js/front%EF%B9%96version=1721259435.js"></script>
	<script>
  	//<![CDATA[  		
	  	$(function() {
	  		setTimeout(function() {
	  			$('.intro').fadeOut();
	  		}, 6000);
	  		
	  		            $(document).snowfall({image :"../../static/theme/theme206/img/f-01.png", minSize: 10, maxSize: 20, flakeCount: 15});
            $(document).snowfall({image :"../../static/theme/theme206/img/f-02.png", minSize: 10, maxSize: 20, flakeCount: 15});
        			});

		
  		$('.btn_view_parent').on('click', function(e) {
  			e.preventDefault();
  			if ( !$(this).closest('div').find('.contact_parent_action').is(':visible') )
  				$(this).closest('div').find('.contact_parent_action').show();
  			else
  				$(this).closest('div').find('.contact_parent_action').hide();
  		});

  		// 배경음악
  		var bgm = document.getElementById('bgm');
  		// 동영상
  		
		
		
  		$('#btn_bgm_control').on('click', function(e) {
  			e.preventDefault();
  			if ( bgm.paused ) {
  				$(this).find('img').attr('src', $(this).find('img').attr('src').replace(/off\.gif$/, 'on.gif'));
  				$('#btn_quick_bgm').find('img').attr('src', $('#btn_quick_bgm').find('img').attr('src').replace(/off\.gif$/, 'on.gif'));
  				bgm.play();
								  			}
  			else {
  				$(this).find('img').attr('src', $(this).find('img').attr('src').replace(/on\.gif$/, 'off.gif'));
  				$('#btn_quick_bgm').find('img').attr('src', $('#btn_quick_bgm').find('img').attr('src').replace(/on\.gif$/, 'off.gif'));
				bgm.pause();
  			}
  		});

  		$('#btn_quick_bgm').on('click', function(e) {
  			e.preventDefault();
  			if ( bgm.paused ) {
  				$(this).find('img').attr('src', $(this).find('img').attr('src').replace(/off\.gif$/, 'on.gif'));
  				$('#btn_bgm_control').find('img').attr('src', $('#btn_bgm_control').find('img').attr('src').replace(/off\.gif$/, 'on.gif'));
  				bgm.play();
								  			}
  			else {
  				$(this).find('img').attr('src', $(this).find('img').attr('src').replace(/on\.gif$/, 'off.gif'));
  				$('#btn_bgm_control').find('img').attr('src', $('#btn_bgm_control').find('img').attr('src').replace(/on\.gif$/, 'off.gif'));
				bgm.pause();
  			}
  		});

  		// youtube API 불러옴
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/player_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		
		
		
		  		// 배경음악 컨트롤
  		bgm.addEventListener('play', function() {
  			$('#btn_bgm_control').find('img').attr('src', $('#btn_bgm_control').find('img').attr('src').replace(/off\.gif$/, 'on.gif'));
  			  			video.pause();
  			  			  		}, false);
  		
  		// var $lg = $('.gallery_list').lightGallery();

  		window.onhashchange = function(e) {
  			var oldURL = e.oldURL.split('#')[1]
  			var newURL = e.newURL.split('#')[1];

  			if (oldURL == 'more_gallery') {
  				e.preventDefault();
  				return false;
  			}
  			else if (oldURL == 'more_guest') {
  				e.preventDefault();
  				return false;
  			}
		}

  		$('.more_gallery').on('click', function(e) {
  			e.preventDefault();

  			var seq = '76066';

  			$.ajax({
                method: 'post',
                url: '/invitation/get_gallery_list/' + seq,
                dataType: 'json',
                success: function(data) {
                	var $lg = $(this);
					/*
					$lg.lightGallery({
						dynamic: true,
						dynamicEl: data,
						download: false,
									fullScreen: false,
						autoplay: true
						
					});

					$lg.on('onAfterOpen.lg',function(event){
					    $('.quickmenu').hide();
					});

					$lg.on('onCloseAfter.lg',function(event){
					    $('.quickmenu').show();
					});
					*/
					const $dynamicGallery = document.getElementById("dynamic_gallery");
					const dynamicGallery = window.lightGallery($dynamicGallery, {
					  dynamic: true,
					  licenseKey : "1AE7BF9B-555B-4EC6-B87B-9F82A08ADAF9",
					  plugins: [lgZoom,lgAutoplay,lgThumbnail],
					  dynamicEl: data,
					  thumbnail:true,
					  mousewheel:true,
					  download: false,
					  slideShowAutoplay:true,
					  mobileSettings: { controls: true, showCloseIcon: true, download: false },

					  					  autoplay: true
					});
					  
					dynamicGallery.openGallery(0);

					$('.quickmenu').hide();
                }
            });
  		});

  		
		
		
				var traffic_map = new naver.maps.Map('traffic_map', {center: new naver.maps.LatLng(35.1875423, 126.9324513)});
		var traffic_marker = new naver.maps.Marker({
		    position: new naver.maps.LatLng(35.1875423, 126.9324513),
		    map: traffic_map
		});
		var traffic_info = new naver.maps.InfoWindow({
		    content: '<div class="naver_map_info">까사디루체 웨딩컨벤션</div>'
		});
		traffic_info.open(traffic_map, traffic_marker);
		naver.maps.Event.addListener(traffic_map, 'click', function(e) {
		    location.href = 'nmap://place?lat=35.1875423&lng=126.9324513&name=까사디루체 웨딩컨벤션&appname=http://thegoodday.kr/6';
		});
				
		
	    Kakao.init('048a9d9ab667fc3b5f6ed77c28d87808');

	    // 카카오내비
	    function navi_kakao(event){
	    	event.preventDefault();
	        Kakao.Navi.start({
	            name: '까사디루체 웨딩컨벤션',
	            x: 126.9324513,
	            y: 35.1875423,
	            coordType: 'wgs84'
	        });
	    }

	    // 티맵
	    function navi_tmap(event) {
	    	event.preventDefault();
	    	var name = encodeURIComponent('까사디루체 웨딩컨벤션');
	    	location.href = 'http://www.tmap.co.kr/tmap2/mobile/route.jsp?name=' + name + '&lon=126.9324513&lat=35.1875423';
	    }

	    var sns_message = "\ub204\uac00\uc640 \uc1a1\uc774\uc758 \uacb0\ud63c\uc2dd\uc5d0 \ucd08\ub300\ud569\ub2c8\ub2e4^^";

	    // 카카오톡
	    function sns_kakaotalk(event) {
	    	event.preventDefault();
	    	Kakao.Link.sendDefault({
	    		objectType: 'feed',
	    		content: {
	    			title: '장누가 ♥ 백송이',
	    			description: sns_message,
	    			imageUrl: 'https://thegoodday.kr/static/upload/invitation/76066/crop/b8d0ec8167da32eab8aa4e7aa60ea30e.jpg',
	    			link: {
	    				mobileWebUrl: 'https://thegoodday.kr/76066',
	    				webUrl: 'https://thegoodday.kr/76066'
	    			}
	    		},
	    		buttons: [
	    		{
	    			title: '청첩장 바로가기',
	    			link: {
	    				mobileWebUrl: 'https://thegoodday.kr/76066',
	    				webUrl: 'https://thegoodday.kr/76066'
	    			}
	    		}
	    		]
	    	});
	    }

	    // 카카오스토리
	    function sns_kakaostory(event) {
	    	event.preventDefault();
	    	Kakao.Story.open({
	    		url: 'https://thegoodday.kr/76066',
	    		text: sns_message
	    	});
	    }

	    // 페이스북
	    function sns_facebook(event) {
	    	event.preventDefault();
	    	var text = encodeURIComponent(sns_message);
	    	var url = 'https://thegoodday.kr/76066';
	    	var encodeURL = encodeURIComponent(url);
	    	window.open('https://www.facebook.com/sharer/sharer.php?t=' + text + '&u=' + encodeURL);
	    }

	    // 위챗
	    function sns_wechat(event) {
	    	event.preventDefault();
	    	alert('죄송합니다.\n준비중 입니다.');
	    }

	    // 트위터
	    function sns_twitter(event) {
	    	event.preventDefault();
	    	var text = encodeURIComponent(sns_message);
	    	var url = 'https://thegoodday.kr/76066';
	    	var encodeURL = encodeURIComponent(url);
	    	window.open('https://twitter.com/share?text=' + text + '&url=' + encodeURL);
	    }

	    // 밴드
	    function sns_band(event) {
	    	event.preventDefault();
	    	var content = sns_message;
	    	var url = 'https://thegoodday.kr/76066';

	    	content = content + "\n" + url;
	    	var param = 'create/post?text=' + encodeURIComponent(content);
	    	location.href = 'bandapp://' + param;
	    }
	//]]>
	</script>
	<iframe frameborder="0" width="0" height="0" name="ifmSubmit" id="ifmSubmit" style="display:none;"></iframe>
</body>
</html>