.icon-after::after, .more::after {
    top: -.1em;
}

.more:before, .more:after, .icon-chevronright:after, #ac-globalfooter .ac-gf-more:after {
    top: -0.08em;
}

.icon-wrapper .icon, .icon-wrapper .icon-after:after, .icon-wrapper .icon-before:before, .icon-wrapper .more:not(.icon-before):after {
    position: relative;
}

.icon-playcircle::after {
    top: 0;
}

@media only screen and (min-width: 1069px) {
    .custom-align {
        padding-right: 4px;
    }
}

/* ribbon custom small */
@media only screen and (max-width: 734px) {
    .ribbon-content .custom-small {
        max-width: 373px;
    }
}

/* battery section - atv title cta */
.atv-title-overview {
    display: block;
    position: relative;
    text-align: center;
    top: -2.7rem;
}

.atv-title-overview * {
    color: #6e6e73;
}

/* localized iamges */
.subsection-safety .overview-safety-safety-bg {
    background-image: url(../../images/overview/safety/safety__r2ikccfsr6ai_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .subsection-safety .overview-safety-safety-bg {
        background-image: url(../../images/overview/safety/safety__r2ikccfsr6ai_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .subsection-safety .overview-safety-safety-bg {
        background-image: url(../../images/overview/safety/safety__r2ikccfsr6ai_medium.jpg)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .subsection-safety .overview-safety-safety-bg {
        background-image: url(../../images/overview/safety/safety__r2ikccfsr6ai_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .subsection-safety .overview-safety-safety-bg {
        background-image: url(../../images/overview/safety/safety__r2ikccfsr6ai_small.jpg)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .subsection-safety .overview-safety-safety-bg {
        background-image: url(../../images/overview/safety/safety__r2ikccfsr6ai_small_2x.jpg)
    }
}


@supports ((-webkit-mask-image:url("")) or (mask-image:url(""))) {
    .l2-usb-c .overview-usb-c-dd-charger {
        -webkit-mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_large.png);
        mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_large.png)
    }

    @media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
        .l2-usb-c .overview-usb-c-dd-charger {
            -webkit-mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_large_2x.png);
            mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_large_2x.png)
        }
    }
    @media only screen and (max-width: 1068px) {
        .l2-usb-c .overview-usb-c-dd-charger {
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_medium.png);
            mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_medium.png)
        }
    }
    @media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
        .l2-usb-c .overview-usb-c-dd-charger {
            -webkit-mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_medium_2x.png);
            mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_medium_2x.png)
        }
    }
    @media only screen and (max-width: 734px) {
        .l2-usb-c .overview-usb-c-dd-charger {
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_small.png);
            mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_small.png)
        }
    }
    @media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
        .l2-usb-c .overview-usb-c-dd-charger {
            -webkit-mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_small_2x.png);
            mask-image: url(../../images/overview/usb-c/dd_charger_mask__cdl0bgj1ajea_small_2x.png)
        }
    }
}

.section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.startframe {
    background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_startframe__emrxzaec4fcm_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.startframe {
        background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_startframe__emrxzaec4fcm_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.startframe {
        background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_startframe__emrxzaec4fcm_medium.jpg)
    }
}

@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px)and (min-resolution: 1.5dppx), only screen and (max-width: 1068px)and (min-resolution: 144dpi) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.startframe {
        background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_startframe__emrxzaec4fcm_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.startframe {
        background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_startframe__emrxzaec4fcm_small.jpg)
    }
}

@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px)and (min-resolution: 1.5dppx), only screen and (max-width: 734px)and (min-resolution: 144dpi) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.startframe {
        background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_startframe__emrxzaec4fcm_small_2x.jpg)
    }
}

.section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.endframe {
    background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_endframe__b6spnbuvcq5e_large.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.endframe {
        background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_endframe__b6spnbuvcq5e_large_2x.jpg)
    }
}

@media only screen and (max-width: 1068px) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.endframe {
        background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_endframe__b6spnbuvcq5e_medium.jpg)
    }
}

@media only screen and (max-width: 1068px)and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px)and (min-resolution: 1.5dppx), only screen and (max-width: 1068px)and (min-resolution: 144dpi) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.endframe {
        background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_endframe__b6spnbuvcq5e_medium_2x.jpg)
    }
}

@media only screen and (max-width: 734px) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.endframe {
        background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_endframe__b6spnbuvcq5e_small.jpg)
    }
}

@media only screen and (max-width: 734px)and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px)and (min-resolution: 1.5dppx), only screen and (max-width: 734px)and (min-resolution: 144dpi) {
    .section-highlights [data-component-list*=HighlightsGallery] .media-gallery .item-container .media-gallery-item-dynamic-island .positioned-media-element.endframe {
        background-image: url(../../images/overview/highlights/video/highlights_dynamic_island_endframe__b6spnbuvcq5e_small_2x.jpg)
    }
}

#overview-usb-c-dd-charger-2 {
    width: 411px;
    height: 250px;
}

@media only screen and (max-width: 1068px) {
    #overview-usb-c-dd-charger-2 {
        width: 392px;
        height: 250px;
    }
}

@media only screen and (max-width: 734px) {
    #overview-usb-c-dd-charger-2 {
        width: 207px;
        height: 426px;
    }
}

html.no-js .inline-media-component-container .video-wrapper .start-frame {
    opacity: 0;
}

html.no-js .inline-media-component-container .video-wrapper .fallback-frame {
    opacity: 1;
}

.icon.icon-arkit.icon-after:after {
    top: 0;
}

.no-single-breakpoint .subsection-camera .copy-content {
    margin-top: -330px;
}

@media only screen and (max-width:1068px) {
    .no-single-breakpoint .subsection-camera .copy-content {
        margin-top: -230px;
    }
}

@media only screen and (max-width:734px) {
    .no-single-breakpoint .subsection-camera .copy-content {
        margin-top: -240px;
    }

    .section-closer-look .all-access-pass__container .viewer-label-item {
        text-align: center;
    }

    .viewer-sizenav-label {
        line-height:15px;
        text-align:center;
    }
}

.welcome__lockup-cta:lang(ko) {
    line-height: 20px;
}

.touch-section.content-area.spacing-section-top .tout-copy.typography-site-tout-caption{
    margin-top: 11px;
}

@media only screen and (max-width:1068px) {
    .touch-section.content-area.spacing-section-top .tout-copy.typography-site-tout-caption{
        margin-top: -6px;
    }
}

@media only screen and (max-width: 734px) {
    .touch-section.content-area.spacing-section-top .tout-copy.typography-site-tout-caption{
        margin-top: 11px;
    }
}

.subsection-safety.subsection-endcap .column.large-4.medium-5.small-12 {
    margin: 0 auto;
}

.button:lang(ko) {
    line-height: 1.1764805882;
}




@media only screen and (max-width: 734px) {
    .section-contrast .contrast .product .product-ctas .contrast-current+a {
        margin-top: 22px;
    }
}

/* ribbon */
.page-overview .trade-in-ribbon .ribbon-copy-avail{
    max-width: 500px;
}

@media only screen and (max-width: 734px) {
    .page-overview .trade-in-ribbon .ribbon-copy-avail{
        max-width: 400px;
    }
}

@media only screen and (max-width:734px){
    .section-contrast .product-tile-plus-cell{
        min-width: 100px;
    }

    .section-contrast .product-tile-ctas .product-tile-current{
        padding-bottom: 4px;
    }
}

/* section-ecosystem accordion layout */
.section-ecosystem .accordion{
    width: 360px;
}

@media only screen and (max-width:1068px){
    .section-ecosystem .accordion{
        width: unset;
        padding: 30px;
    }
}

@media only screen and (min-width:735px){
    .page-overview .trade-in-ribbon .ribbon-copy.trade-in-2024 {
        max-width: 555px;
     }
}